<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		id="WebApp_ID" version="3.1">
		
  <display-name>home-accountant-version-00</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>    
  </welcome-file-list>  

  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
<!--   <filter> -->
<!--     <filter-name>RquestResponseEncodingFilter</filter-name> -->
<!--     <filter-class>by.htp.accountant.filter.RquestResponseEncodingFilter</filter-class> -->
<!--     	<init-param> -->
<!-- 			<param-name>encoding_for_request</param-name> -->
<!-- 			<param-value>UTF-8</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 			<param-name>encoding_for_response</param-name> -->
<!-- 			<param-value>text/html;charset=UTF-8</param-value> -->
<!-- 		</init-param> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>RquestResponseEncodingFilter</filter-name> -->
<!--     <servlet-name>Controller</servlet-name> -->
<!--   </filter-mapping> -->
  
<!--   <filter> -->
<!--     <filter-name>LocalizationFilter</filter-name> -->
<!--     <filter-class>by.htp.accountant.filter.LocalizationFilter</filter-class> -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--     <filter-name>LocalizationFilter</filter-name> -->
<!--     <servlet-name>Controller</servlet-name> -->
<!--   </filter-mapping> -->
  
</web-app>